<div class="about">
  <img class="abt" src="https://res.cloudinary.com/chidi6ix/image/upload/v1575094360/about_wcklxi.png" alt="">
  <img src="https://res.cloudinary.com/chidi6ix/image/upload/v1574208931/probg_t0qsaf.png" alt="">
</div>

<div class="contain">
  <div class="row">
    <div class="col-md-6">
      <div class="sec left">
          <div class="image">
              <img [src]= "image" alt="">
          </div>
            <div class="ctn">
              <h3>Who's this guy?</h3>
              <p class="lead">I'm a Front-End web developer</p>
              <p class="lead">I have serious passion for UI effects, animations and creating intuitive, dynamic user experince.</p>
              <p class="lead">Let's make something special.</p>
          </div>
      </div>
    </div>
    <div class="col-md-6">
      <app-svg></app-svg>
    </div>
  </div>
</div>
