<div class="contain">
  <div class="row">
    <div class="col-md-6">
      <div class="sec left">
          <div class="image">
              <img [src]= "image" alt="">
            </div>
            <div class="ctn">
              <h3>Who's this guy?</h3>
              <p class="lead">I'm a Front-End web developer</p>
              <p class="lead">I have serious passion for UI effects, animations and creating intuitive, dynamic user experince.</p>
              <p class="lead">Let's make something special.</p>
          </div>
      </div>
    </div>
    <div class="col-md-6">
      <app-svg></app-svg>
    </div>
  </div>
</div>
