<div class="container">
  <div class="carrier">
    <div class="showcase" (click)="anime()">
      <div class="image">
        <img src="/assets/images/random fact.PNG" alt="">
      </div>
      <div class="heading">
        <h3>Random Fact Generator</h3>
      </div>
    </div>
    <div class="content">
      <div class="img">
        <img src="/assets/images/random fact.PNG" alt="">
      </div>
      <div class="ctn">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto accusantium exercitationem possimus nobis rem eaque.</p>
        <div class="link">
          <a href="#" class="links">
            <i class="fa fa-github" aria-hidden="true"></i>
          </a>
          <a href="#" class="links">
            <i class="fa fa-bookmark" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="cancel">
      <span>
        <i class="fa fa-times-circle" aria-hidden="true"></i>
      </span>
    </div>
  </div>
</div>
