<div class="container">
  <div class="tools">
    <h5>Tools:</h5>
  </div>
  <div class="tool">
    <div class="img-one" *ngIf="show">
      <img src="/assets/images/tools/kisspng-computer-icons-html5-scalable-vector-graphics-port-socialpack-chocolate-icon-5c4b3bbd2275a7.4033632815484343651412.png" alt="">
      <img src="/assets/images/tools/images-removebg-preview.png" alt="">
      <img src="/assets/images/tools/javascript-36f5949a45.png" alt="">
    </div>

    <div class="img-two" *ngIf="!show">
      <img src="/assets/images/tools/angular-js-512.png" alt="">
    </div>
  </div>
</div>
