/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";
body {
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
  background: url('/assets/images/background-brick-bricks-220166.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
