$colors: (
  main-color: #e24727,
  text-color: #f0e5d3,
  icon-color: rgb(64, 61, 243),
  nav-color: #422626
);

@function color($colorName) {
  @return map-get($map: $colors, $key: $colorName );
}

$desktop: 1000px;
$ipad: 760px;

@mixin desktop {
   @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin ipad {
  @media (min-width: #{$ipad}) {
   @content;
 }
}

.container {
  color: color(text-color);
  margin-top: 10rem;
  @include ipad() {
    margin-top: 3rem;
  }
  @include desktop() {
    margin-top: 3rem;
  }

  p {
    // text-align: left;
  }
  button {
    outline: none;
    padding: 0.5rem 1rem;
    background: none;
    color: color(text-color);
    border: 3px solid color(text-color);
    border-radius: 10px;
    font-size: bolder;
    transition: .7 ease-in-out;
    &:hover {
      background: color(text-color);
      color: color(main-color);
    }

    span {
      margin: 0 0.5rem;
    }
  }
}
